// Color de las tablas
$custom-blue: #153d66;

// ***************************************************************************
// HEADER
// ***************************************************************************
.custom_o_boxed_header {
    border-bottom: 1px solid $custom-blue;
    img {
        max-height: 100px;
    }
    h4 {
        color: $o-we-color-text-normal;
        font-weight: 700;
        text-transform: uppercase;
    }
    span{
        color: $custom-blue;
    }
}

.custom-company-info  {
    padding: 0;
    list-style: none;
    line-height: 0.7em;
    span{
        font-size: 9px;
    }
}

// ***************************************************************************
// INFORMES CLASES AYUDA
// ***************************************************************************
.custom_document_conecta{
    font-size: 11px;
}

.row2{
    margin-top: 2em;
}

// ***************************************************************************
// TABLAS UNITARIAS GENERALES
// ***************************************************************************
.custom-table{
    display: table;
    width:100%;
}
.custom-th{
    display: table-row;
    background-color: #153d66;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 10px
}
.custom-th-cell{
    display: table-cell;
}
.custom-customer-cell{
    display: table-cell;
    line-height: 1em;
    padding-top: 4px;
    padding-left: 1px;
    p{
        margin-bottom: 1px;
    }
}
.custom-cell{
    // display: table-cell;
    text-align: center;
    line-height: 1em;
    padding-top: 4px;    
}
.custom-cell-sign{
    // display: table-cell;
    margin-top:0px;
    padding:0;
    font-size: 8px;
    text-align: center;   
}

// ***************************************************************************
// TABLA LÍNEAS
// ***************************************************************************
.custom-table-full{
    width: 100%;
    border: none !important;
    // font-size:12px;
    margin-top: 50px;
    margin-bottom: 50px;
    thead{
        border: 0px;
        color: white;
        text-align: center;
        // font-size: 11px;
        background-color: #153d66;
    }
    tr, td{
        border:none !important;
    }
}


// ***************************************************************************
// IMPORTES TOTALES
// ***************************************************************************
div#custom_total table {
    // margin-top: 5em;
    tr {
        strong{
            color: $custom-blue; 
        }
        td{
            border-top: none !important;
        }
    }

}

.caption-table{
    color: $custom-blue;
    caption-side: top;
}

.custom-tax-table{
    margin-top: 3em !important;
}

.custom_end{
    margin-top: 100px;
}

.invoice-text-wrap{
    display: table;
}

.my-invoice-text{
    font-size: 8.5px;
    // padding: 0.5em;
    text-align: center;
}


// ***************************************************************************
// LOPD PAGE
// ***************************************************************************
.color-custom-blue{
    color: $custom-blue;
}

.lopd_text{
    font-size: 9px;
}


.payment-info{
    margin-top:20px;
}


// ***************************************************************************
// FOOTER
// ***************************************************************************
.custom_o_boxed_footer {
    margin-bottom: 100px;
    white-space: nowrap;
    // border-top: 3px solid gray('700');
    ul {
        margin: 4px 0;
    }
    img {
        max-height: 200px;
        width: 187px;
        height: 70px;
    }
}